.bi {
    fill: currentColor;
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.bg-body-tertiary {
    background-color: rgb(19, 32, 45) !important;
}

body {
    background-color: rgb(244, 243, 247);
}
