# Dependencies
node_modules
package-lock.json
yarn.lock

# Build outputs
build
dist
*.min.js
*.min.css

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Other
coverage
.cache